form {
    padding: 50px;
}

button {
    border: none;
    padding: 20px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    background-color: #1dbf73;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}