.navbar{
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;

    .container{
        width: 1400px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .logo{
            .text{
                font-size: 34px;
                font-weight: bold;
            }
            .dot{
                color: #1dbf73;
            }
        }
        .links{
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500;
            font-family: "Montserrat", "sans-serif";

            button {
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                cursor: pointer;
                background-color: transparent;

                &:hover{
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                }
            }
        }
    }
}